.container {
  width: 100%;
  /* position: fixed; */
  top: 0;
  z-index: 10;
}

.row {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #e5eef8;
}

.buttons-block {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button {
  margin: 1em;
  display: flex;
}

.error {
  color: #dc4242;
}
